.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 0.75rem;
    transition: all 0.3s ease-in-out;

    &.primary-btn{
        background-color: #265ec7;
        color: white;
    }
    &:active{
        transform: scale();
    }
}